{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/chat.css') }}">
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='main/js/chat.js') }}" defer></script>
{% endblock %}

{% block maincontent %}

<h3>Welcome to the chat - {{ user }}!</h3>


<div id='chat' contenteditable>    
</div>

<div class="chat-inputs">
    <input placeholder="Enter Your Message Here" id="user-message" class="chat-row" />
    <br>
    <button id="submit-message" class="chat-disconnect" onclick="leave_room()">LEAVE CHAT</button>
</div>
    

<!-- <p class="email">
<input placeholder="Enter Your Message Here" />
<input type="submit" name="sendMessage">
</p> -->
{% endblock %}