{% extends 'shared/layout.html' %}

{% block extracss%}
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/playlist.css') }}">
{% endblock%}

{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="{{ url_for('static', filename='main/js/playlist.js') }}" defer></script>
{% endblock %}


{% block maincontent %}
<header></header>
<input type="hidden" id="hidden_token">

<div id="genre-container">
<!-- -->
</div>

<!-- Submit button on side of page -->
<button class="submit-button" onclick="submitGenres()">Done!</button>

{% endblock %}